.flex-container{
    display: flex;
    border: 1px solid black;
    max-width: 500px;
    margin-bottom: 10px;
}
.default{
    flex-flow: row nowrap;
}
.wrap{
    flex-flow: row wrap;
}
.wrap-reverse{
    flex-flow: row wrap-reverse;
}
.r-reverse-nowrap{
    flex-flow: row-reverse nowrap;
}
.r-reverse-wrap{
    flex-flow: row-reverse wrap;
}
.r-reverse-w-reverse{
    flex-flow: row-reverse wrap-reverse;
}
.item{
    background-color: brown;
    margin: 5px;
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
}
.blue{
    background-color: blue;
}
.gold{
    background-color: gold;
}
.orange{
    background-color: darkorange;
}
.maroon{
    background-color: maroon;
}
.green{
    background-color: darkgreen;
}